.plant-card {
  margin: 2vh 2vw 2vh 2vw;
  background-color: #dcde9f;
  border-radius: 5px;
  box-shadow: 4px 6px 16px;
}


.plant-pic {
  max-width: auto;
  max-height: 380px;
}

.favorite-bar {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}

.fave-icon {
  height: 2.3vh;
  padding: 3px;
}

.card-bottom {
  padding: 10px;
}

.card-bottom:first-letter {
    text-transform:capitalize;
}
