.plant-page {
  background-image: url('../CardContainer/plantwallpaper.jpg');
  height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
}

.upper-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  height: 38%;
  width: auto;
  background-color: #dcde9f;
  margin-bottom: 8vh
}

.plant-pic-plant-page {
  max-width: 90%;
  max-height: 150%;

}

.lower-images {
  background-color: #92a65f;
  width: 100vw;
  height: 35%;
  overflow-x: scroll;
  display: flex;
  align-items: center;
}

.return-home {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  height: 8vh;
  margin-top: 2vh;
}

.info {
  padding: 25px;
}

.common-name {
  font-family: 'Red Rose', cursive;
}


.tiny-pics {
  height: 80%;
  margin: 2vw;
  float: right;
}