.nav-container {
  box-shadow: 9px 2px 16px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  position: sticky; 
  top:0px;
  background-color: #f3f4d3;
  z-index: 1;
  align-items: center;
}

.app-name {
  font-family: 'Red Rose', cursive;
  font-size: 3vw;
  margin-bottom: 0
}

.find {
  margin-left: 25vw;
  width: 40vw;
}

.berries{
  height: 120px;
  margin-top: 5px;
}

.title-section {
  display: inline-flex;
}

.home-icon {
  width: 50px;
  padding: 3px;
}

.fave-page-icon {
  width: 55px;
}

.nav-button {
  margin-right: 5vw;
  background-color: #92a65f;
  border: 0;
  border-radius: 33px;
}

input[type=text] {
  width: 118px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #dcde9f;
  background-image: url('searchicon.png');
  background-size: 35px, 35px;
  background-repeat: no-repeat;
  padding: 10px 20px 10px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.fave-page-icon-title {
  width: 55px;
}

.favorites-title {
  font-family: 'Red Rose', cursive;
  font-size: 3vw;
  margin-bottom: 2vh;
  display: flex;
}

input[type=text]:focus {
  width: 45%;
}


@media only screen and (max-width: 1100px) {

  .app-name {
    font-family: 'Red Rose', cursive;
    font-size: 4vw;
    margin-left: 2vw;
  }

  
}

@media only screen and (max-width: 450px) {
    .app-name {
      font-family: 'Red Rose', cursive;
      font-size: 7vw;
      
    }
    .find {
      margin-left: 0;
      margin-right: 5px;
    }
    input[type=text]:focus {
      width: 75%;
    }
  }


  