.nav-container {

  height: 15vh;
  display: flex;
  justify-content: space-between;
  position: sticky; 
  top:0px;
  background-color: #f3f4d3;
  z-index: 1;
  align-items: center;
}

.app-name {
  font-family: 'Red Rose', cursive;
  font-size: 3vw;
}

.find {
  box-sizing: border-box;
  width: 40vw;
  padding: 1vh;
}

.rose {
  height: 133px;
  background: transparent;
  margin-left: 2vw;
}

.title-section {
  display: inline-flex;
}

.home-icon {
  width: 50px;
  padding: 3px;
}

.fave-page-icon {
  width: 55px;
}

.nav-button {
margin-right: 5vw;
background-color: #92a65f;
border: 0;
border-radius: 33px;
color: #FFF;
transition: all 0.5s;
position: relative;
}
.nav-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255,255,255,0.1);
  transition: all 0.3s;
}
.nav-button:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}
.nav-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255,255,255,0.5);
  transform: scale(1.2,1.2);
}
.nav-button:hover::after {
  opacity: 1;
  transform: scale(1,1);
}



