.nav-container {
  box-shadow: 9px 2px 16px;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  position: sticky; 
  top:0px;
  background-color: #f3f4d3;
  z-index: 1;
  align-items: center;
}

.app-name {
  font-family: 'Red Rose', cursive;
  font-size: 3vw;
}

.find {
  box-sizing: border-box;
  width: 40vw;
  padding: 1vh;
}

.rose {
  height: 133px;
  background: transparent;
  margin-left: 2vw;
}

.title-section {
  display: inline-flex;
}

.home-icon {
  width: 50px;
  padding: 3px;
}

.fave-page-icon {
  width: 55px;
}

.nav-button {
  margin-right: 5vw;
  background-color: #92a65f;
  border: 0;
  border-radius: 33px;
}
